{%- liquid
  assign title = block.settings.title
  assign grid_width_small = 'small--one-whole'
  assign grid_width_medium = 'medium--one-half'
  assign grid_width_large = 'large--one-third'
-%}

<div
 data-section-type="collection-slider">
  <div class="section-body">
    <div class="wrapper">
      {%- unless title == blank -%}
        <h2 class="section-title">{{ title }}</h2>
      {%- endunless -%}


      <div class="collection__slider grid-uniform">
        {%- for i in (1..6) -%}
          {%- liquid
            assign product_key = 'product_' | append: i
            assign variant_id_key = 'variant_id_' | append: i
            assign product = all_products[block.settings[product_key]]
            assign variant_id = block.settings[variant_id_key]
            unless product == blank
              unless variant_id == blank
                assign product_url = '/products/' | append: product.handle | append: '?variant=' | append: variant_id
                if variant_id == '341234581508'
                  include 'product-grid-item' with product_title: 'Carry-On Closet Plus', product_url: product_url
                else
                  include 'product-grid-item' with product_url: product_url
                endif
              else
                include 'product-grid-item'
              endunless
            endunless
          -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
