{%- assign title = block.settings.title -%}
{%- assign content = block.settings.content -%}

<div class="section-newsletter">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--two-thirds push--large--one-sixth">
        <div class="section-body text-center">
          <div class="section__inner">
            {%- unless title == '' -%}
              <h2 class="section-title h1">{{ title | escape }}</h2>
            {%- endunless -%}

            {%- unless content == blank -%}
              <div class="rte rte--homepage">
                {{ content }}
              </div>
            {%- endunless -%}

            {% include 'newsletter-form' %}

            <div class="text-center">
              <p><small>We respect your inbox. No spam ever.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
