<section class="lp-otw--icon-listing" data-section-id="{{ section.id }}" {% if section.settings.hide_section %}style="display: none;"{% endif %}>
    {% include 'new-lp--icon-listing' %}
</section>

{% schema %}
{
    "name": "Icon Blocks",
    "settings": [
        {
            "type": "checkbox",
            "id": "hide_section",
            "label": "Hide section?",
            "default": false
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color of section",
            "default": "#000000"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section title"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Color of title",
            "default": "#FFFFFF"
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Icon",
            "settings": [
                {
                    "type": "textarea",
                    "id": "block_icon",
                    "label": "Block icon"
                },
                {
                    "type": "text",
                    "id": "block_title",
                    "label": "Block title"
                },
                {
                    "type": "color",
                    "id": "block_title_color",
                    "label": "Color of block title",
                    "default": "#FFFFFF"
                },
                {
                    "type": "textarea",
                    "id": "block_text",
                    "label": "Block text"
                },
                {
                    "type": "color",
                    "id": "block_text_color",
                    "label": "Color of block text",
                    "default": "#b3b3b3"
                }
            ]
        }
    ]
}
{% endschema %}