<!-- /templates/page.style-guide.liquid -->

{% section 'index-banner-slider' %}

<section class="section-banner">
  <div class="section-bg lazyload" style="background-color:#666;"></div>

  <div class="section-body section-inverse text-center">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <h3 class="section-subtitle">Subtitle</h3>

          <h2 class="section-title h1">Premium, sustainable gear for global citizens. </h2>

          <div class="blog__article__content rte">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta cum eos tempore sunt dolores sed veritatis nihil quaerat exercitationem neque quae maiores voluptatibus, reprehenderit, necessitatibus vitae labore minima eveniet molestiae.</p>
          </div>

          <div class="btn-group">
            <a href="#" class="btn btn--large btn--black">Shop Now</a>
            <a href="#" class="btn btn--large btn--white-border">Shop Now</a>
            <a href="#" class="btn btn--large btn--green-border">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-body">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter">
        <div class="article__content rte">
          <h1 class="text-center">Heading 1</h1>

          <h2 class="text-center">Heading 2</h2>

          <h3 class="text-center">Heading 3</h3>

          <h4 class="text-center">Heading 4</h4>

          <p>Frontier Airlines baggage fees have been a controversial topic among travelers for some time. The airline is notorious for having amazing deals on one-way and round trip flights. However, to compensate for the low ticket costs, the airline charges additional fees for specific seats, checked baggage, and even carry-on luggage. With such exorbitant fees, you might be wondering why anyone would choose Frontier Airlines over other airlines that often include these fees in the price of the ticket. The answer is simple. If you know how to avoid paying Frontier Airlines baggage fees and other additional charges, the low ticket prices make the airline ideal for short flights or business trips.</p>

          <p class="text-center">We’ve partnered up with The Ocean Cleanup Maldevies project.  Their team of 190 people specialise with ocean cleanups. We donate $X or 15% of your purchase to pull your 5lbs. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-body">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter">
        <h2 class="section-subtitle">Who are we?</h2>

        <h2 class="body text-center">We are a design driven, sustainable luxury brand always ready for adventure. We enhance life on-the-go with premium gear for global citizens.</h2>
      </div>
    </div>
  </div>
</div>

<div class="section-body">
  <div class="wrapper text-center">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter">
        <div class="collection__tags">
          <ul class="collection__tags__list">
            <li class="collection__tags__item active">
              <a href="#">
                All
              </a>
            </li>
            <li class="collection__tags__item">
              <a href="#">With Shelf</a>
            </li>
            <li class="collection__tags__item">
              <a href="#">Without Shelf</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% section 'features-with-icons' %}

<div class="section-newsletter">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item large--two-thirds push--large--one-sixth">
        <div class="section-body homepage--light text-center">
          <div class="section__inner">
            <h2 class="section-title h1">Love travelling? Us too.</h2>

            <div class="rte rte--homepage">
              <p>Get notified when we discover new hidden gems, travel tips and more.</p>
            </div>

            {% include 'newsletter-form' %}

            <div class="text-center">
              <p><small>We respect your inbox. No span ever.</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
